.main-home {
  height: 100vh;
  align-items: center;
  text-align: center;
  color: white;
}

#myVideo {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.about-title {
  transition: 0.3s;
  font-size: 80px;
}

.about-text {
  font-size: 28px;
  text-align: justify;
  margin-left: 2%;
  margin-right: 2%;
}

.tgr-about {
  width: 100%;
}

@media screen and (max-width:1280px) {
  .tgr-about {
    display: none;
  }

  .about-title {
    transition: 0.3s;
    font-size: 52px;
  }
  
}

@media screen and (max-width:700px) {
  .about-title {
    transition: 0.3s;
    font-size: 50px;
  }

  .about-text {
    transition: 0.3s;
    font-size: 20px;
  }

  .logo-text-about {
    transition: 0.3s;
    margin: 5%;
  }
}