.main-logout {
    background: url('../media/main-logout.jpg');
    width: 100vw;
    height: 100vh;
    align-items: center;
    text-align: center;
    color: white;
    background-size: cover;
}

.replay-logout {
    width: 100%;
  }
  
.replay-button {
    margin-bottom:7vh;
    max-width: 550px;
    box-shadow: 0px 0px 75px 10px rgba(94, 255, 0, 0.9);
}
  
.replay-button:hover {
    transform: scale(1.2);
    transition: 0.3s;
    box-shadow: 0px 0px 75px 10px rgba(255, 251, 2, 0.9);
    cursor: pointer;
}
  
.replay-button:not(:hover) {
    transform: scale(1);
    transition: 0.3s;
}