/* Meu CSS */

body {
  background-color: #303030;
  overflow-x: hidden;
}

@font-face {
  font-family: PT-Sans;
  src: url("../fonts/PT-Sans.ttf");
}

@font-face {
  font-family: PT-Sans_Bold;
  src: url("../fonts/PT-Sans_Bold.ttf");
}

@font-face {
  font-family: Mont-Heavy;
  src: url("../fonts/Mont-Heavy.otf");
}

@font-face {
  font-family: Mont-Light;
  src: url("../fonts/Mont-Light.otf");
}

@font-face {
  font-family: Pixeled;
  src: url("../fonts/Pixeled.ttf");
}

.icon-navbar {
  width: 31px;
  height: 31px;
}

.navbar-collapse {
  width: 100%;
}

.nav-item {
  font-size: 18pt;
}

li {
  display: flex;
}

nav-link:visited {
  color: white;
  text-decoration: none;
  width: 100%;
}

.dropdown-item:hover {
  background-color:rgba(0, 0, 0, 0.8);
}

.logo-tgr {
  width: 250px;
  margin-left: 0;
  text-decoration: none;
}

.opacity-bg {
  opacity: 0.2;
}

.not-opacity{
  opacity: 1;
}

.transparency {
  background-color:rgba(0, 0, 0, 0.5);
}

.pt-sans_bold {
  font-family: PT-Sans_Bold;
}

.pt-sans {
  font-family: PT-Sans;
}

.pixeled {
  font-family: Pixeled;
}

.white {
  color: white;
}

.site-header{
  top: 0;
  width: 100%;
}

.nav{
  display: block;
  position: sticky;
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s ease-out;
}

.navbar-toggler:checked ~ nav{
  max-height: 100%;
}
.navbar-toggler:checked ~ .hamb .hamb-line {
  background: transparent;
}
.navbar-toggler:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.navbar-toggler:checked ~ .hamb .hamb-line::after {
  display: block;
  transform: rotate(45deg);
  top:0;
}