.main-password-reset {
    background: url('../media/main-password-reset.jpg');
    width: 100vw;
    height: 100vh;
    color: white;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
}

.main-password-reset-template {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    color: white;
    background-size:cover;
    background-position:center;
    display: flex;
}

.reset-sent {
    background: url('../media/main-password-sent.jpg');
}

.reset-complete {
    background: url('../media/main-password-complete.jpg');
}

.main-password-reset-confirm {
    background: url('../media/main-password-confirm.jpg');
    width: 100vw;
    height: 100vh;
    color: white;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
  }

.redefine-password {
    font-family: PT-Sans_Bold;
    color: #fff;
    text-align: center;
}

.redefined {
    font-size: 50px;
}

.redefined a {
    font-size: 30px;
}

.email-sent {
    font-size: 30px;
}

.redefine-password a {
    margin-top: 100px;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .redefine-password {
        transition: 0.3s;
        font-size: 30px;
    }
}

@media screen and (max-height: 600px) {
    .redefine-password {
        transition: 0.3s;
        font-size: 20px;
        padding-top: 100px;

    }
}