.main-password-reset {
    background: url('../media/main-password-reset.jpg');
    width: 100vw;
    height: 100vh;
    color: white;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
}

.main-password-reset-sent {
    background: url('../media/main-password-sent.jpg');
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    color: white;
    background-size: cover;
    background-position: center;
    display: flex;
}

.email-sent {
    font-family: PT-Sans_Bold;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.email-sent a {
    margin-top: 100px;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .email-sent {
        transition: 0.3s;
        font-size: 20px;
    }
    
}

@media screen and (max-height: 600px) {
    .email-sent {
        transition: 0.3s;
        font-size: 20px;
        padding-top: 100px;

    }
    
}