.main-profile {
    background: url('../media/main-login.jpg');
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
    background-size: cover;
    display: flex;
}

.container-profile {
    margin-top: 8vw;
    width: 50vw;
    height: 70vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;  
}

.container-profile::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    border-radius: 50px;
}

.user-form-field {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ffffff;
    padding: 25px 0;
}

.user-form-field input {
    font-family: Ubuntu-Regular;
    font-size: 20px;
    color: #ffffff;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    padding: 0 10px 0 80px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    outline: none;
    border: none;
    border-radius: 5px;
}
.user-form-field input:focus {
  padding-left: 60px;
}

.user-form-field-icon::after {
    font-family: Linearicons-Free;
    font-size: 18px;
    color: #999999;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 75px;
    left: 35px;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}

.user-form-field-icon {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
.user-form-field-icon::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    background: #d41872;
    background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: -o-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: -moz-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: linear-gradient(left, #a445b2, #d41872, #fa4299);
  }

  
.user-form-field input:focus + .user-form-field-icon::after {
    left: 23px;
    color: #d41872;
  }
  
.user-form-field input:focus + .user-form-field-icon::before {
    width: 100%;
  }
  
.has-val.user-form-field input + .user-form-field-icon::after {
    left: 23px;
    color: #d41872;
  }
  
.has-val.user-form-field input + .user-form-field-icon::before {
    width: 100%;
  }
  
.has-val.user-form-field input {
    padding-left: 60px;
  }