.main-register {
    background: url('../media/main-register.jpg');
    width: 100vw;
    height: 100vh;
    color: white;
    background-size: cover;
    background-position: center;
}

@media screen and (max-height:800px) {
    .main-register {
        transition: 0.3s;
        overflow-y: scroll;
    }
}
  
  .hover-popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 70%;
    left: 5%;
    width: auto;
    margin-top: 25px;
    background-color: #fff;
    border-radius: 8px;
    padding: 1.5em;
    z-index: 42;
    transform: scale(0);
    transition: transform 200ms ease;
    transform-origin: 8% -10px;
  }
  
  .hover-target:focus + .hover-popup {
    transform: scale(1);
  }
  
  .hover-popup :not(:first-child) {
    margin-top: 1rem;
  }
  
  .hover-popup span {
    color: rgb(200, 20, 0);
    font-weight: 700;
  }
  
  .hover-popup::before {
  /* This is the triangle/arrow */
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top: -10px;
  }
  
  .hover-popup::after {
    /* This is merely here to expand the hoverable area, as a buffer between the "Hover me" text and the popup. */
    content: '';
    position: absolute;
    top: -1rem;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: -1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }

.hover-popup p {
    font-size:16px;
}

@media screen and (max-width:500px) {
    .hover-popup p {
        font-size:12px;
    }
    
}