{% extends "main/base.html" %}
{% load static %}
{% load bootstrap %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="main-login">
            <br><br><br><br><br><br>
            <div class="message-div m-auto">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show m-auto" role="alert">
                            {{ message }}
                            <br>
                            <button type="button" class="btn-close d-flex justify-content-end" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <br>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="container-login">
                    <div class="auth-form-elements">
                        <span class="auth-form-title">
                            Entrar
                        </span> 
                        <div class="auth-form-field">
                            <input class="auth-form-field-input" type="text" name="nickname" placeholder="Usuário">
                            <span class="auth-form-field-icon" data-placeholder="&#xe82a;"></span>
                        </div>
                        <div class="auth-form-field">
                            <input class="auth-form-field-input" type="password" name="password" placeholder="Senha" autocomplete="on">
                            <span class="auth-form-field-icon" data-placeholder="&#xe80f;"></span>
                        </div>
                        <br>
                        <div class="auth-form-submit-container">
                            <button class="auth-form-submit" type="submit">
                                Login
                            </button>
                        </div>
                        <br>
                        <br>
                        <div class="text-center form-links">
                            <a href="{% url 'register' %}">Não tem uma conta?</a>
                            <br>
                            <a href="{% url 'reset_password' %}">Esqueceu a senha?</a>
                        </div>
                    </div>
                </div>
            </form>
            <br>
    </div>
{% endblock content %}