{% extends "main/base.html" %}
{% load static %}
{% block title %}Logout{% endblock %}
{% block content %}

<div class="main-logout">
    <br><br><br><br><br>
    <div class="d-block mt-2 justify-content-center text-white">
        <h1 class='pixeled' style="font-size: 100px;color:red;">VOCÊ SAIU</h1>
        <h1 class='pixeled' style="font-size: 200px;padding-top:30px;">GAME OVER</h1>
        <div class="replay-logout fixed-bottom mx-auto">
            <a href="{% url 'login' %}">
                <img class="replay-button" src="{% static 'main/media/replay.png'%}" id="replay-hover-img">
            </a>
        </div>
    </div>
</div>
{% endblock content %}