{% extends "main/base.html" %}
{% load static %}
{% load bootstrap %}
{% block title %}Esqueci minha senha{% endblock %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/auth-forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/password-reset.css' %}">
{% endblock links %}
{% block content %}
    <div class="main-password-reset">
            <br><br><br><br><br><br>
            <div class="w-50 m-auto">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show m-auto" role="alert">
                            {{ message }}
                            <br>
                            <button type="button" class="btn-close d-flex justify-content-end" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <br>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="container-login">
                    <div class="auth-form-elements">
                        <span class="auth-form-title">
                            Recuperação de senha
                        </span>
                        <br>
                        <p class="pt-sans fs-5 text-center">
                            Insira seu email abaixo para prosseguir com sua recuperação de senha.
                        </p>
                        <div class="auth-form-field">
                            <input class="auth-form-field-input" type="text" name="email" placeholder="Email">
                            <span class="auth-form-field-icon" data-placeholder="&#xe818;"></span>
                        </div>
                        <br>
                        <div class="auth-form-submit-container">
                            <button class="auth-form-submit" type="submit">
                                Confirmar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <br>
    </div>
{% endblock content %}

    <div class="main-login">
        <br><br><br><br><br><br>
        <div class="w-100 m-auto">
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show w-50 m-auto" role="alert">
                    <p>Senhas não são iguais ou não são aceitas pelo sistema. Por favor, tente novamente!</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            <br>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="container-profile">
                <div class="auth-form-elements">
                    <span class="auth-form-title">
                        
                    </span>
                    <br>
                    <br>
                    
                    {% comment %} CAMPO DO EMAIL {% endcomment %}
                    
                    <br>
                    <div class="auth-form-submit-container">
                        <button class="auth-form-submit" type="submit">
                            Confirmar
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <br>
    </div>