{% extends "main/base.html" %}
{% load static %}
{% load bootstrap %}
{% block title %}Redefinir senha{% endblock %}
{% block content %}
    <div class="main-password-reset-confirm">
        <br><br><br><br><br><br>
        <div class="w-100 m-auto">
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show w-50 m-auto" role="alert">
                    <p>Senhas não são iguais ou não são aceitas pelo sistema. Por favor, tente novamente!</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            <br>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="container-login">
                <div class="auth-form-elements">
                    <span class="auth-form-title">
                        Redefinir senha
                    </span> 
                    <div class="auth-form-field">
                        <input class="auth-form-field-input" type="password" name="new_password1" placeholder="Senha" autocomplete="new-password">
                        <span class="auth-form-field-icon" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="auth-form-field">
                        <input class="auth-form-field-input" type="password" name="new_password2" placeholder="Repita a senha" autocomplete="new-password">
                        <span class="auth-form-field-icon" data-placeholder="&#xe80f;"></span>
                    </div>
                    <br>
                    <div class="auth-form-submit-container">
                        <button class="auth-form-submit" type="submit">
                            Redefinir
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <br>
    </div>
{% endblock content %}