{% extends 'main/base.html' %}
{% block title %}Esqueci minha senha{% endblock %}
{% block content %}
<div class="main-password-reset-sent">
    <br><br><br><br><br><br>
    <div class="email-sent mx-5 mt-5">
        <p>Caso haja uma conta com este email, em breve serão enviadas as instruções para redefinição de senha.<br>Pedimos que também verifique o spam do seu email, caso as instruções não cheguem em sua caixa principal.</p><br>
        <a href="{% url 'login' %}">Voltar para o login</a>

    </div>
</div>

{% endblock %}