{% extends 'main/base.html' %}
{% block title %}Esqueci minha senha{% endblock %}
{% block content %}
<div class="main-profile">
    <form method="POST" enctype="multipart/form-data" class="mt-5 align-middle mx-auto">
        {% csrf_token %}
        <div class="container-profile">
            <div class="auth-form-elements">
                <span class="auth-form-title">
                    Recuperação de senha
                </span>
                <br>
                <br>
                <p class="pt-sans fs-5 text-center">
                    Insira seu email abaixo para prosseguir com sua recuperação de senha.
                </p>
                {% comment %} CAMPO DO EMAIL {% endcomment %}
                <div class="auth-form-field">
                    <input class="auth-form-field-input" type="text" name="email" placeholder="Email">
                    <span class="auth-form-field-icon" data-placeholder="&#xe82a;"></span>
                </div>
                <br>
                <div class="auth-form-submit-container">
                    <button class="auth-form-submit" type="submit">
                        Confirmar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}