{% extends "main/base.html" %}
{% load static %}
{% block title %}Esqueci minha senha{% endblock %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/password-reset.css' %}">
{% endblock links %}
{% block content %}
<div class="main-password-reset-template reset-complete">
    <br><br><br><br><br><br>
    <div class="redefine-password redefined mx-5 mt-5">
        <p>Sua senha foi redefinida!</p><br>
        <a href="{% url 'login' %}">Faça login</a>

    </div>
</div>

{% endblock %}