{% extends "main/base.html" %}
{% load static %}
{% load bootstrap %}
{% block title %}Perfil - {{ user.username }}{% endblock %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/auth-forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/profile.css' %}">
    <script type="text/javascript" src="../static/main/js/profile.js"></script>
{% endblock %}
{% block content %}
    <div class="main-profile">
        <br>
        <div class="message-profile m-auto">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show w-100 mx-auto" role="alert">
                        <h5>{{ message }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            {% if user.profile.image.url == '/media/default_profile_picture_tgr4726hf8783.jpg' %}
                    <div class="alert alert-primary alert-dismissible fade show w-100 mx-auto" role="alert">
                        <h5>Coloque uma foto de perfil!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
            {% endif %}
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container-profile">
                <div class="profile-form-elements">
                    <span class="profile-form-title">
                        Editar dados do usuário
                    </span>
                    <br>
                    <img src="{{ user.profile.image.url }}" class="rounded-circle profile-picture">
                    {% comment %} CAMPO DO USERNAME {% endcomment %}
                    <div class="user-form-field">
                        <h4>Usuário</h4>
                        {{ user_form.username }}
                        <span class="user-form-field-icon" data-placeholder="&#xe82a;"></span>
                    </div>
                    {% comment %} CAMPO DO EMAIL {% endcomment %}
                    <div class="user-form-field">
                        <h4>Email</h4>
                        {% if user.email %}
                        {{ user_form.email }}
                        {% else %}
                        <input type="email" placeholder="Sem email" disabled class="text-muted">
                        {% endif %}
                        <span class="user-form-field-icon" data-placeholder="&#xe818;"></span>
                        <input type="hidden" name="email" value="{{user.email}}">
                    </div>
                    
                    <br>
                    {% comment %} CAMPO DA IMAGEM {% endcomment %}
                    <div class="profile-form-field">
                        <h4>Foto de perfil</h4>
                        <br>
                        <div id="upload-pic">
                            <div class="col-4 hidden-sm"></div>
                            <label for="id_image" class="btn btn-primary col-12 col-md-4">Escolher foto</label>
                            {{ profile_form.image }}
                        </div>
                    </div>
                    <br><br>
                    <div class="auth-form-submit-container">
                        <button class="auth-form-submit col-12 col-md-4" type="submit">
                            Editar perfil
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}