{% extends "main/base.html" %}
{% load static %}
{% load bootstrap %}
{% block content %}

<div class="main-login">
    <div class="w-50 m-auto">
        <br><br><br><br><br><br>
        <h1>Meu usuário: {{ user.username }}</h1>
        <h1>Meu email: {{ user.email }}</h1>
        <h1>Minha foto de perfil:</h1>
        <img src={{ user.profile.image.url }} style="eidth:400px;height:400px;border-radius:50%;">
        <br>
        <h1>OBS: Tela de perfil em construção!!!</h1>
    </div>
</div>
{% endblock content %}