{% extends "main/base.html" %}
{% load static %}
{% load bootstrap %}
{% block title %}Quiz{% endblock %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/auth-forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/quiz.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/about.css' %}">
<script type="text/javascript" src="../static/main/js/quiz.js"></script>
{% endblock %}
{% block content %}

<div class="main-about">
    <video autoplay muted loop id="myVideo">
        <source src="{% static 'main/media/main-quiz.mp4' %}" type="video/mp4">
    </video>
    <br><br><br><br><br><br>
    
    <form method="POST" class="quiz-form w-75 mt-5" enctype="multipart/form-data">
        {% csrf_token %}
        <br><br>
        <section class="section active" id="section1">
            <h2>Pergunta 1</h2>
            <br>
            <p class="fs-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed consequat metus. Praesent at aliquet nisl, quis laoreet dolor. Nunc at aliquet est. Pellentesque nec porta ex. Morbi lobortis felis?</p>
            <br>
            <div class="field-controller">
                {{ form.q1 }}
            </div>
        </section>
        
        <section class="section" id="section2">
            <h2>Pergunta 2</h2>
            <br>
            <p class="fs-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a quam vitae massa faucibus faucibus vitae sit amet diam. Sed eget felis semper, sollicitudin lectus vel, scelerisque ligula. Integer suscipit?</p>
            <br>
            <div class="field-controller">
                {{ form.q2 }}
            </div>
        </section>
        
        <section class="section" id="section3">
            <h2>Pergunta 3</h2>
            <br>
            <p class="fs-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue tortor, pulvinar sit amet justo vitae, gravida euismod lacus. Cras maximus posuere enim vitae blandit. Pellentesque non ornare mauris, ut?</p>
            <br>
            <div class="field-controller">
                {{ form.q3 }}
            </div>
        </section>
        
        <section class="section" id="section4">
            <h2>Pergunta 4</h2>
            <br>
            <p class="fs-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vestibulum felis turpis, in convallis mi ullamcorper vitae. Sed placerat bibendum ex. In ut arcu mauris. Sed pulvinar iaculis nisl nec?</p>
            <br>
            <div class="field-controller">
                {{ form.q4 }}
            </div>
        </section>
        
        <section class="section" id="section5">
            <h2>Pergunta 5</h2>
            <br>
            <p class="fs-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu malesuada dui, ac posuere felis. Donec ut posuere urna. Maecenas vitae urna convallis, faucibus nunc ut, volutpat leo. Vestibulum sit?</p>
            <br>
            <div class="field-controller">
                {{ form.q5 }}
            </div>
        </section>

        <section class="section" id="section6">
            <h2>Pergunta 6</h2>
            <br>
            <p class="fs-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lobortis rutrum tortor, ut auctor dolor maximus quis. Aenean arcu mauris, maximus nec quam quis, ultricies dignissim leo. Fusce in finibus?</p>
            <br>
            <div class="field-controller">
                {{ form.q6 }}
            </div>
        </section>

        <section class="section" id="section7">
            <h2>Pergunta 7</h2>
            <br>
            <p class="fs-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis diam quam, a lobortis leo molestie sit amet. Donec vestibulum justo et urna molestie, id consectetur turpis venenatis. Sed eget?</p>
            <br>
            <div class="field-controller">
                {{ form.q7 }}
            </div>
        </section>

        <section class="section" id="section8">
            <h2>Pergunta 8</h2>
            <br>
            <p class="fs-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac viverra neque, in lacinia quam. Vestibulum vel volutpat velit, a aliquam metus. Quisque eu justo dui. Aenean lobortis, ante sit?</p>
            <br>
            <div class="field-controller">
                {{ form.q8 }}
            </div>
        </section>

        <section class="section" id="section9">
            <h2>Pergunta 9</h2>
            <br>
            <p class="fs-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pretium a urna eu ornare. Nunc purus nisi, tempor sit amet urna vel, varius consectetur ipsum. Suspendisse tristique diam ligula, non?</p>
            <br>
            <div class="field-controller">
                {{ form.q9 }}
            </div>
        </section>

        <section class="section" id="section10">
            <h2>Pergunta 10</h2>
            <br>
            <p class="fs-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam odio nibh, venenatis nec elementum a, dapibus a diam. Aenean nec nulla quis nisi interdum commodo a eget massa. Ut pretium?</p>
            <br>
            <div class="field-controller">
                {{ form.q10 }}
            </div>
            <br>
            <button class="auth-form-submit" style="width:200px;" type="submit">Enviar</button>
    </section>
    <br><br>
</form>
        <button id="btnPrevious" class="paginator-button">Anterior</button>
        <button id="btnNext" class="paginator-button">Próxima</button>
</div>
</div>
{% endblock content %}