{% extends "main/base.html" %}
{% load static %}
{% block title %}Registre-se{% endblock %}
{% block content %}

<div class="main-register">
    <br><br><br><br><br><br>
    {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show w-50 m-auto" role="alert">
                <p>Ocorreu um erro. Por favor, tente novamente!</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% endif %}
    <br>
        <form method="POST">
            {% csrf_token %}
            <div class="container-login">
                <div class="auth-form-elements">
                    <span class="auth-form-title">
                        Cadastrar-se
                    </span>
                    <div class="auth-form-field">
                        <input class="auth-form-field-input" type="text" name="username" placeholder="Usuário">
                        <span class="auth-form-field-icon" data-placeholder="&#xe82a;"></span>
                    </div>
                    <div class="auth-form-field">
                        <input class="auth-form-field-input" type="text" name="email" placeholder="Email">
                        <span class="auth-form-field-icon" data-placeholder="&#xe818;"></span>
                    </div>
                    <div class="auth-form-field">
                        <input class="auth-form-field-input" type="password" name="password1" placeholder="Senha" autocomplete="on">
                        <span class="auth-form-field-icon" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="auth-form-field">
                        <input class="auth-form-field-input" type="password" name="password2" placeholder="Repita a senha" autocomplete="on">
                        <span class="auth-form-field-icon" data-placeholder="&#xe80f;"></span>
                    </div>
                    <br>
                    <div class="auth-form-submit-container">
                        <button class="auth-form-submit" type="submit">
                            Criar conta
                        </button>
                    </div>
                    <br>
                    <div class="text-center form-links">
                        <a href="{% url 'login' %}">Já tem uma conta?</a>
                        <br>
                        <a href="{% url 'reset_password' %}">Já tem uma conta e esqueceu a senha?</a>
                    </div>
                </div>
            </div>
            
        </form>
    </div>

{% endblock content %}