{% extends "main/base.html" %}

{% load bootstrap %}

{% comment %} {% load static %} {% endcomment %}

{% block content %}

<br><br><br><br><br><br>
<div class="autentication-page">
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show w-50 m-auto" role="alert">
            {{ messages }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    {% endif %}
    <br>
    <div class="w-50 m-auto text-white text-left">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Criar conta na TGR</legend>
                {{ form|bootstrap}}
            </fieldset>
            <br>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Criar</button>
            </div>
        </form>
        <br>
        <a href="{% url 'login' %}" style="text-decoration:none;">Já tem uma conta?</a>
    </div>
</div>

    {% endblock content %}