{% extends "main/base.html" %}
{% load static %}
{% block title %}Sobre{% endblock title %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/about.css' %}">
{% endblock links %}
{% block content %}

<main class="main-about text-white">
    <video autoplay muted loop id="myVideo">
        <source src="{% static 'main/media/main-about.mp4' %}" type="video/mp4">
    </video>
        <br><br><br><br><br><br>
        <div class="about-container">
            <h1 class="text-center about-title">Sobre o TGR</h1>
            <br><br>
            <div class="d-flex logo-text-about">
                <p class="about-text">
                    O <b>TGR</b>, que significa The Game Recommender, é justamente o que o nome sugere: um <b>recomendador de jogos!</b>
                    <br>
                    <br>
                    Já houve aqueles dias nos quais você estava querendo algo diferente para jogar, mas estava com medo de se decepcionar e acabar perdendo seu tempo? O TGR está aqui para fazer com que isso nunca mais aconteça! Você poderá responder ao nosso <a href="{% url 'pre_quiz' %}">questionário</a> quantas vezes quiser para receber sugestões de jogos para você jogar, tanto sozinho ou com seus amigos. Tudo vai estar de acordo com sua preferência!
                    <br>
                    <br>
                    Com este projeto, nós buscamos ajudar as pessoas a encontrarem novos jogos para que elas possam se divertir e evitar a <a href="https://seletronic.com.br/o-que-e-sindrome-do-pc-gamer/" target="blank">crise do PC Gamer</a> em nós, gamers, que queremos apenas sentar em nossas cadeiras e jogar algo!
                    <br><br><br><br><br>
                </p>
            </div>
        </div>
</main>

{% endblock content %}