{% extends "main/base.html" %}
{% load static %}
{% block title %}Adicionar jogo{% endblock title %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/game-list.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/auth-forms.css' %}">
<script type="text/javascript" src="{% static 'main/js/add-game.js' %}"></script>
{% endblock links %}
{% block content %}

<main class="jogos-main">

    <br>

    <div class="mx-auto col-4 text-center pt-sans-bold fs-3 text-white">
        <h1>Adicionar jogo</h1>

        {{form}}

        <div class="mt-5 col-12">
            <label for="search-game">Procurar jogo pelo ID</label>
                <input type="number" id="search-game" class="form-control">
                <br>
                <button class="btn btn-primary btn-lg" onclick="getIGDBGame()">Procurar jogo</button>
        </div>
        <form method="POST" class="pt-5">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_title">Title:</label>
                <input type="text" class="form-control" name="title" maxlength="100" required="" id="id_title">
            </div>

            <div class="mb-3">
                <label for="id_genres">Genre:</label>
                <select name="genres" class="form-control" required="" id="id_genres" multiple="">
                    <option value="1">Point-and-click</option>
                    <option value="2">Fighting</option>
                    <option value="3">Shooter</option>
                    <option value="4">Music</option>
                    <option value="5">Platform</option>
                    <option value="6">Puzzle</option>
                    <option value="7">Racing</option>
                    <option value="8">Real Time Strategy (RTS)</option>
                    <option value="9">Role-playing (RPG)</option>
                    <option value="10">Simulator</option>
                    <option value="11">Sport</option>
                    <option value="12">Strategy</option>
                    <option value="13">Turn-based strategy (TBS)</option>
                    <option value="14">Tactical</option>
                    <option value="15">Quiz/Trivia</option>
                    <option value="16">Hack and slash/Beat 'em up</option>
                    <option value="17">Pinball</option>
                    <option value="18">Adventure</option>
                    <option value="19">Arcade</option>
                    <option value="20">Visual Novel</option>
                    <option value="21">Indie</option>
                    <option value="22">Card &amp; Board Game</option>
                    <option value="23">MOBA</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="id_platforms">Platform:</label>
                <select class="form-control" name="platforms" required="" id="id_platforms" multiple="">
                    <option value="1">PC</option>
                    <option value="2">Xbox</option>
                    <option value="3">Playstation</option>
                    <option value="4">Switch</option>
                    <option value="5">All</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="id_players">Players:</label>
                <select class="form-control" name="players" id="id_players">
                    <option value="1" selected="">Single-player</option>
                    <option value="2">Multiplayer</option>
                    <option value="3">Ambos</option>
                    <option value="4">Melhor com amigos!</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="id_synopsis">Synopsis:</label>
                <textarea class="form-control" name="synopsis" cols="5" rows="5" required="" id="id_synopsis"></textarea>
            </div>

            <div class="mb-3">
                <label for="id_connectivity">Connectivity:</label>
                <select class="form-control" name="connectivity" id="id_connectivity">
                    <option value="1" selected="">Offline</option>
                    <option value="2">Online</option>
                    <option value="3">Ambos</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="id_wiki">Wiki:</label>
                <input type="url" class="form-control" name="wiki" maxlength="200" required="" id="id_wiki"> 
            </div>
            <div class="mt-5 pb-5">
                <button class="btn btn-primary btn-lg col-6" type="submit">Salvar</button>
            </div>
        </form>
    </div>
</main>

{% endblock content %}