{% extends "main/base.html" %}

{% load bootstrap %}

{% block content %}

<br><br><br><br><br>

<div class="jogos-main white">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="text-left form-group">
            <legend class="border-bottom mb-4">Deletar jogo... Isto é perigoso!</legend>
                <h2>Tem certeza que quer deletar o jogo "{{ object.title }}"?</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Sim</button>
            <a class="btn btn-outline-secondary" href="{% url 'jogos' %}">Cancelar</a>
        </div>
    </form>
</div>

{% endblock content %}