{% extends "main/base.html" %}
{% load static %}
{% block title %}Início{% endblock title %}
{% block links%}
        <script type="text/javascript" src="../static/main/js/home.js"></script>
{% endblock links %}
{% block content %}

<main class="main-home">
        <br><br><br><br><br><br><br>

        <div class="quote coolvetica">
                <h1>"{{ randomQuote.phrase }}"</h1>
                <br>
                <h3>{{ randomQuote.author }}</h3>
                <a href="{{ gameWiki }}" target="_blank"><h3>{{ gameTitle }}</h3></a>
                
        </div>
        <br><br><br>    
        <div class="start-home fixed-bottom">
                <a href="{% url 'login' %}">
                        <img class="start-button mx-auto" src="{% static 'main/media/start.png'%}" id="start-hover-img">
                <a>
        </div>
        
</main>

{% endblock content %}